<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Welcome To Your Store
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center">
      <blockquote>
        Here Is A Sample For CRUD Of Products For <a [href]="links.RAWAFED_TECK_WEBSITE" target="_blank">Rawafed
        Teck</a> Company As Per
        Owr Interview Hopefully May
        Be Acceptable For You.
      </blockquote>
      <blockquote>
        Noted that the attached document is strictly private, confidential and personal to its recipients and should not
        be copied,distributed, nor passed to any third party.
      </blockquote>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onNavigateToProduct()">Lets Start The Task</button>
    </mat-card-actions>
  </mat-card>
</div>
